/** Add css rules here for your application. */
/*Footer: provides design for the data source declaration*/
footer {
	background-color: #505050;		/*brighter: dimgrey;*/
	display:inline-block;
	position: fixed;				/*essential*/
	opacity: 0.75;
	bottom: 0px;					/*essential*/
	left: 0px;						/*essential*/
	width:100%;
	font-family: sans-serif;
	font-style: normal;
	font-size: 1.2em;				/*recommanded for mobile devices*/
}

ul.footer {
	list-style-type: none;
	margin: 0;						/*no margin or padding recommanded*/
	padding: 0;
	position: relative;
	float: left;
	left: 10px;
	z-index: 100;
}

li.footer {
	float: left;
	width: 100%;					/*if more than one cell 500px*/
	position: relative;
}

a.footer, a.footer:link, a.footer:visited, a.footer:active {
	display: block;
	padding: 8px;
	font-weight: bold;
	color: #00ff00;
	text-decoration: none;
}
a.footer:hover {
	color: white;
	text-decoration: none;
}
/* Navigation; similar to footer */
nav {
	background-color: #505050;
	display:inline-block;
	position: fixed;
	opacity: 0.75;
	top: 0px;
	left: 0px;
	width:100%;
	font-family: sans-serif;
	font-style: normal;
	font-size: 1.2em;				/*recommanded for mobile devices*/
	z-index: 100;
}

ul.navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	float: left;
	left: 49%;
	z-index: 100;
}

li.navigation {
	float: left;
	width: 220px;
	position: relative;
	float: left;
	right: 50%;;
}

a.navigation:link, a.navigation:visited {
	text-align: center;
	display: block;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	padding: 15px;
	font-family: sans-serif;
	/*font-size: 1em;*/
}

a.navigation:hover, a.navigation:active {
	color: #00ff00;
	text-decoration: none;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
